<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1> Стартовая страница </h1>
<h2> <p class="lead">
Структура небольшого, но гордого сайта: </h2> </p>
<ul>
<li><%= link_to "Первая страница", one_path %></li>
<li><%= link_to "_Подстраница один", '/one/oneone' %></li>
<li><%= link_to "_Подстраница два", '/one/twoone' %></li>
<li><%= link_to "__Подподстраница страница", '/one/twoone/underone' %></li>
<li><%= link_to "Вторая страница", two_path %></li>
</ul>
<strong> <p class="lead"> <%= link_to "Создать новую страницу", '/add' %> </p>
</h2>
</div>