<% provide(:title, 'ПодПодстраница') %>
<h1>Это ПодПодстраница</h1>
<h2>Перейти можно вот сюда:
	<ul>
		<li><%= link_to "Первая", one_path %></li>
		<li><%= link_to "ПодПервая", '/one/oneone' %></li>
		<li><%= link_to "ПодВторая", '/one/twoone' %></li>
		<li><%= link_to "Вторая", two_path %></li>
	</ul>

	<i><%= link_to "Создать новую страницу", '/add' %></i>
	</h2>
	<br> <h4> Введение <br> </h4>
	<h3>Условия, при которых меня понимают и тогда уже понимают с необходимостью, – я знаю их слишком хорошо. Надо быть честным в интеллектуальных вещах до жестокости, чтобы только вынести мою серьёзность, мою страсть. Надо иметь привычку жить на горах – видеть под собою жалкую болтовню современной политики и национального эгоизма. Надо сделаться равнодушным, никогда не спрашивать, приносит ли истина пользу или становится роком для личности... Пристрастие силы к вопросам, на которые сегодня ни у кого нет мужества; мужество к запретному, предназначение к лабиринту. Опыт из семи одиночеств. Новые уши для новой музыки. Новые глаза для самого дальнего. Новая совесть для истин, которые оставались до сих пор немыми. И воля к экономии высокого стиля: сплачивать свою силу, своё вдохновение. Уважение к себе; любовь к себе; безусловная свобода относительно себя... Итак, только это – мои читатели, мои настоящие читатели, мои предопределённые читатели: что за дело до остального? Остальное – лишь человечество. Надо стать выше человечества силой, высотой души – презрением... <br>
<br>
Фридрих Ницше 

</h3>